# Http service config
IS_HTTPS=false
SERVER_PORT=8080
CERT_PEM_FILE=./certificates/cert.pem
KEY_PEM=./certificates/key.pem
ALLOWED_ORIGINS=*,http://localhost:3000
ALLOWED_METHODS=POST,GET,PUT,DELETE
JWT_SECRET_KEY=your-jwt-secret-key

# Files storage
IMAGES_DIR=./images

# Database
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=127.0.0.1
DB_PORT=5432
DB_NAME=postgres
DB_SSL_MODE=disable
DB_SSL_ROOT_CERT=path/to/your/cert.crt

# PayPal config
WEBHOOK_ID=your-webhook-id
VALIDATION_URL=https://api.sandbox.paypal.com/v1/notifications/verify-webhook-signature
CLIENT_ID=your-client-id
SECRET_ID=your-secret-id
